<!DOCTYPE html>
<html>
<head>
    <title>Add Schedule</title>
</head>
<body>
    <h1>Add New Schedule</h1>
    <form method="post">
        <label for="room_id">Room:</label><br>
        <select id="room_id" name="room_id">
            {% for room in Room.query.all() %}
                <option value="{{ room.id }}">{{ room.name }}</option>
            {% endfor %}
        </select><br>
         <label for="trainer_id">Trainer:</label><br>
        <select id="trainer_id" name="trainer_id">
            {% for trainer in Trainer.query.all() %}
                <option value="{{ trainer.id }}">{{ trainer.full_name }}</option>
            {% endfor %}
        </select><br>
        <label for="start_time">Start Time:</label><br>
        <input type="datetime-local" id="start_time" name="start_time" required><br>
        <label for="end_time">End Time:</label><br>
          <input type="datetime-local" id="end_time" name="end_time" required><br>
        <input type="submit" value="Add Schedule">
    </form>
    <br>
    <a href="{{ url_for('table_view', table_name='schedule') }}">Back to Schedule Table</a>
</body>
</html>