<!DOCTYPE html>
<html>
<head>
    <title>Edit Schedule</title>
</head>
<body>
    <h1>Edit Schedule</h1>
    <form method="post">
        <label for="room_id">Room:</label><br>
        <select id="room_id" name="room_id" required>
           <option value="" disabled selected>Select Room</option>
            {% for room in Room.query.all() %}
                <option value="{{ room.id_rooms }}" {% if room.id_rooms == schedule.id_rooms %}selected{% endif %}>
                    {{ room.name }}
                </option>
            {% endfor %}
        </select><br>
         <label for="trainer_id">Trainer:</label><br>
        <select id="trainer_id" name="trainer_id" required>
            <option value="" disabled selected>Select Trainer</option>
            {% for trainer in Trainer.query.all() %}
                <option value="{{ trainer.id_trainer }}" {% if trainer.id_trainer == schedule.id_trainer %}selected{% endif %}>
                    {{ trainer.full_name }}
                </option>
            {% endfor %}
        </select><br>
        <label for="sport_type_id">Sport Type:</label><br>
        <select id="sport_type_id" name="sport_type_id" required>
            <option value="" disabled selected>Select Sport Type</option>
            {% for sport_type in SportType.query.all() %}
                <option value="{{ sport_type.id_sport_types }}" {% if sport_type.id_sport_types == schedule.id_sport_types %}selected{% endif %}>
                    {{ sport_type.name }}
                </option>
            {% endfor %}
        </select><br>
        <label for="day_of_week">Day of Week:</label><br>
        <select id="day_of_week" name="day_of_week" required>
            <option value="Monday" {% if schedule.day_of_week =='Monday' %}selected{% endif %}>Monday</option>
            <option value="Tuesday" {% if schedule.day_of_week =='Tuesday' %}selected{% endif %}>Tuesday</option>
            <option value="Wednesday" {% if schedule.day_of_week =='Wednesday' %}selected{% endif %}>Wednesday</option>
            <option value="Thursday" {% if schedule.day_of_week =='Thursday' %}selected{% endif %}>Thursday</option>
            <option value="Friday" {% if schedule.day_of_week =='Friday' %}selected{% endif %}>Friday</option>
            <option value="Saturday" {% if schedule.day_of_week =='Saturday' %}selected{% endif %}>Saturday</option>
            <option value="Sunday" {% if schedule.day_of_week =='Sunday' %}selected{% endif %}>Sunday</option>
        </select><br>
        <label for="time">Time:</label><br>
        <input type="time" id="time" name="time" value="{{ schedule.time.strftime('%H:%M') }}" required><br>

        <input type="submit" value="Update Schedule">
    </form>
    <br>
    <a href="{{ url_for('table_view', table_name='schedule') }}">Back to Schedule Table</a>
</body>
</html>