<!DOCTYPE html>
<html>
<head>
    <title>Equipment</title>
</head>
<body>
    <h1>Equipment</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipment %}
            <tr>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.quantity }}</td>
                 <td>
                   <a href="{{ url_for('edit_equipment', id=equipment.id) }}">Edit</a>
                   <form method="post" action="{{ url_for('delete_equipment', id=equipment.id) }}" style="display: inline;">
                    <input type="submit" value="Delete">
                  </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
        <a href="{{ url_for('add_equipment') }}">Add New Equipment</a>
         <br>
    <a href="{{ url_for('admin_dashboard' if current_user.role == 'admin' else 'user_dashboard') }}">Back to Dashboard</a>
</body>
</html>