<!DOCTYPE html>
<html>
<head>
    <title>Payment Types</title>
</head>
<body>
    <h1>Payment Types</h1>
    <br>
    <a href="{{ url_for('add_payment_types') }}">Add New Payment Type</a>
    <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for payment_type in payment_types %}
            <tr>
                <td>{{ payment_type.id_payment_types }}</td>
                <td>{{ payment_type.name }}</td>
                <td>
                   <a href="{{ url_for('edit_payment_types', id_payment_types=payment_type.id_payment_types) }}">Edit</a>
                   <form method="post" action="{{ url_for('delete_payment_types', id_payment_types=payment_type.id_payment_types) }}" style="display: inline;">
                    <input type="submit" value="Delete">
                  </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <a href="{{ url_for('admin_dashboard' if current_user.role == 'admin' else 'user_dashboard') }}">Back to Dashboard</a>
</body>
</html>