<!DOCTYPE html>
<html>
<head>
    <title>Purchased</title>
</head>
<body>
    <h1>Purchased</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>Client</th>
                <th>Subscription</th>
                <th>Purchase Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for purchased in purchased %}
            <tr>
                <td>{{ Client.query.get(purchased.client_id).full_name if Client.query.get(purchased.client_id) else 'N/A' }}</td>
                <td>{{ Subscription.query.get(purchased.subscription_id).name if Subscription.query.get(purchased.subscription_id) else 'N/A' }}</td>
                <td>{{ purchased.purchase_date }}</td>
                  <td>
                       <a href="{{ url_for('edit_purchased', id=purchased.id) }}">Edit</a>
                        <form method="post" action="{{ url_for('delete_purchased', id=purchased.id) }}" style="display: inline;">
                          <input type="submit" value="Delete">
                        </form>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      <br>
        <a href="{{ url_for('add_purchased') }}">Add New Purchased</a>
        <br>
     <a href="{{ url_for('admin_dashboard' if current_user.role == 'admin' else 'user_dashboard') }}">Back to Dashboard</a>
</body>
</html>