<!DOCTYPE html>
<html>
<head>
    <title>Records</title>
</head>
<body>
    <h1>Records</h1>
    <br>
    <a href="{{ url_for('add_record') }}">Add New Record</a>
    <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Purchased</th>
                <th>Schedule</th>
                <th>Record Date</th>
                <th>Attendance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.id_records }}</td>
                <td>{{ record.purchased.id_purchased if record.purchased else 'N/A' }}</td>
                <td>{{ record.schedule.day_of_week if record.schedule else 'N/A' }} - {{ record.schedule.time if record.schedule else 'N/A' }}</td>
                <td>{{ record.date_of_record }}</td>
                <td>{{ record.attendance }}</td>
                <td>
                    <a href="{{ url_for('edit_record', id_records=record.id_records) }}">Edit</a>
                    <form method="post" action="{{ url_for('delete_record', id_records=record.id_records) }}" style="display: inline;">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('admin_dashboard' if current_user.role == 'admin' else 'user_dashboard') }}">Back to Dashboard</a>
</body>
</html>
