<!DOCTYPE html>
<html>
<head>
    <title>Records</title>
</head>
<body>
    <h1>Records</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>Client</th>
                <th>Schedule</th>
                <th>Record Date</th>
                 <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ Client.query.get(record.client_id).full_name if Client.query.get(record.client_id) else 'N/A' }}</td>
                <td>{{ Schedule.query.get(record.schedule_id).id if Schedule.query.get(record.schedule_id) else 'N/A' }}</td>
                <td>{{ record.record_date }}</td>
                  <td>
                        <a href="{{ url_for('edit_record', id=record.id) }}">Edit</a>
                       <form method="post" action="{{ url_for('delete_record', id=record.id) }}" style="display: inline;">
                          <input type="submit" value="Delete">
                       </form>
                   </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <br>
    <a href="{{ url_for('add_record') }}">Add New Record</a>
        <br>
     <a href="{{ url_for('admin_dashboard' if current_user.role == 'admin' else 'user_dashboard') }}">Back to Dashboard</a>
</body>
</html>